<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'first_app/css/styles.css' %}" media="screen" title="no title" charset="utf-8">
    <title>Books</title>
</head>
<body>
    <div class="scrollbar">
        <p>"Zeus Grants Stupid Wishes: A No-Bullshit Guide to World Mythology" by Cory O'Brien</p>
        <p>"Lolita" by Vladamir Nabokov</p>
        <p>"A Load of Hooey" by Bob Odenkirk</p>
    </div>
</body>
</html>